---
import HeaderLink from "../HeaderLink.astro";
const { navLinks } = Astro.props;
---

<div class="mobile-menu z-10 shadow-md" id="mobile-menu">
  {
    navLinks.map((link) => (
      <HeaderLink
        class="font-[500] text-[var(--l-bg-purple)] dark:text-[var(--l-bg)] before:text-[var(--l-bg-purple)] after:text-[var(--l-bg-purple)] dark:before:text-[var(--l-bg-purple)] dark:after:text-color-[var(--l-bg-purple)]"
        href={link.url}
      >
        {link.text}
      </HeaderLink>
    ))
  }
</div>

<style>
  .mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    transition: 0.5s ease;
    position: fixed;
    left: 0;
    top: -1000px;
    width: 100%;

    background-color: var(--l-bg);
    color: var(--d-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .mobile-menu--active {
    top: 57px;
  }

  html.dark .mobile-menu {
    background-color: var(--d-bg);
    color: var(--l-bg);
  }
</style>
