---
import HeaderLink from "../HeaderLink.astro";
const { navLinks } = Astro.props;
---

<div class="hidden md:flex gap-5">
  {
    navLinks.map((link) => (
      <HeaderLink
        class="font-[500] text-[var(--d-bg)] dark:text-[var(--l-bg)] before:text-[var(--l-bg-purple)] after:text-[var(--l-bg-purple)] dark:before:text-[var(--l-bg-purple)] dark:after:text-color-[var(--l-bg-purple)]"
        href={link.url}
      >
        {" "}
        {link.text}
      </HeaderLink>
    ))
  }
</div>
