---
import BaseEnLayout from "../../layouts/BaseEnLayout.astro";
import GradientText from "../../components/shared/GradientText.astro";
import MainLogo from "../../components/icons/MainLogo.svg";
---

<BaseEnLayout
  title="Shiryaev.io web dev blog"
  description="shiryaev.io webdevelopment blog, javascript, typescript, vue, nuxt"
>
  <div
    class="flex flex-col-reverse justify-between gap-5 xl:flex-row items-center main-page-block"
  >
    <MainLogo class="main-logo" />

    <div class="max-w-[600px] composition">
      <p class="main-title">
        <GradientText>
          Programming is easy when you have a great assistant
        </GradientText>
        🧑‍💻
      </p>

      <p class="main-text">
        Shiryaev.io – Blog about programming for developers of all levels, here
        you will find useful articles on programming, ready-made components and
        code examples in Javascript, Typescript, Vue, Nuxt, tips on web-working
        and much more
      </p>

      <p class="main-text">
        Here you will find ideas for your projects and career🚀
      </p>
    </div>
  </div>
</BaseEnLayout>

<style>
  .main-page-block {
    padding-top: 100px;

    @media (max-width: 1250px) {
      padding-top: 30px;
    }

    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  .main-title {
    font-size: 55px;
    line-height: 1;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .main-logo {
      width: 400px;
      height: 300px;
    }
  }

  @media (max-width: 575px) {
    .main-logo {
      width: 300px;
    }
    .main-title {
      font-size: 40px;
    }
  }

  @media (max-width: 400px) {
    .main-title {
      font-size: 30px;
    }

    .main-text {
      font-size: 14px;
    }
  }
</style>
