---
import SocialLinks from "./shared/SocialLinks.astro";
const today = new Date();
---

<footer
  class="sticky top-[100vh] bg-[var(--l-bg)] dark:bg-[var(--d-bg)] text-[var(--d-bg)] dark:text-[var(--l-bg)] p-10 flex flex-col justify-center items-center gap-3 shadow-inner rounded-4xl text-center text-xs"
>
  &copy; {today.getFullYear()} Shiryaev.io All rights reserved.
  <div class="flex justify-center gap-2 mt-2">
    <SocialLinks />
  </div>
</footer>
