---
import HeaderLogo from "./shared/HeaderLogo.astro";
import NavLinks from "./shared/NavLinks.astro";
import SocialLinks from "./shared/SocialLinks.astro";
import ThemeButton from "./shared/ThemeButton.astro";
import LanguageSwitcher from "./shared/LanguageSwitcher.astro";
import MobileMenu from "./shared/MobileMenu.astro";
import BurgerButton from "./shared/BurgerButton.astro";
import Search from "astro-pagefind/components/Search";

const { navLinks } = Astro.props;
---

<header
  class="bg-[var(--l-bg)] dark:bg-[var(--d-bg)] text-[var(--d-bg)] dark:text-[var(--l-bg)] sticky top-0 pl-6 pr-6 z-20 shadow-md"
>
  <nav class="flex justify-between items-center">
    <HeaderLogo />

    <NavLinks navLinks={navLinks} />

    <div class="flex items-center gap-5">
      <SocialLinks />

      <div class="flex items-center gap-2">
        <LanguageSwitcher />
        <ThemeButton />
        <BurgerButton />
      </div>
    </div>
  </nav>
</header>

<MobileMenu />

<Search id="search" className="pagefind-ui" uiOptions={{ showImages: true }} />
